label {
    display: block;
    height: 70px;
    position: relative;
}

.input-root {
    border: 1px solid rgb(162, 159, 159);
    border-radius: 5px;
    padding: 10px;
    line-height: 1.2;
    width: 480px;
}

.errorInputBase {
    font-size: 14px;
    color: red;
    position: absolute;
    top: 40px;
    left: 25px;
}

.eyeIcon {
    position: absolute;
    right: 40px;
    top: 10px;
}

.eyeIcon:hover {
    cursor: pointer;
}