.summary {
    max-width: 250px;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 5px;
}

/* summary title*/

.summary h5 {
    font-size: 20px;
    font-weight: 700;
    text-align: right;
    margin: 0;
    margin-bottom: 30px;
}

.summaryPrice,
.subtitle {
    max-height: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* item*/

.summaryItemWrapper {
    max-height: 230px;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.summaryItem {
    display: flex;
    margin-bottom: 18px;
}

.imgWrapper {
    max-width: 60px;
    margin-right: 10px;
}

.imgWrapper>img {
    width: 100%;
}

.itemInfo {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 5px;
    margin-bottom: 10px;
}

.itemInfo h6 {
    margin: 0;
    margin-bottom: 5px;
}

.boldTitle {
    font-weight: 500;
    font-size: 5px;
    margin-bottom: 5px;
}

/* checkout button*/

.checkoutBtn {
    background: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid red;
    cursor: pointer;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 8px;
}

.checkoutBtn:hover {
    background: white;
    color: red;
    border: 1px solid red;
    border-radius: 8px;
}