.wrapper {
    max-width: 550px;
    text-align: center;
    margin: 80px auto;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.formSelection {
    height: 40px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.formSelection input {
    margin-top: 8px;
    margin-right: 10px;
}

.formSelection label {
    font-size: 20px;
    font-weight: 700;
}