/* loading*/

.loader {
    margin: auto;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #33BEFF;
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* container*/

.homepageContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* cart*/

.result {
    max-width: 800px;
    width: 100%;
}