.popup {
    position: relative;
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
        rgb(51, 51, 51) 0px 0px 0px 3px;
    margin: 50px auto;
    padding: 10px;
}

/* close popup icon*/

.timesIcon {
    position: absolute;
    right: 5px;
    top: 5px;
}

.timesIcon:hover {
    transform: scale(1.2) rotate(15deg);
}

/* left section*/

.leftSection {
    width: 330px;
    height: 300px;
    margin-top: 20px;
}

.leftSection img {
    object-fit: contain;
}

/* right section*/

.rightSection {
    width: 400px;
}

.rightSection span {
    display: inline-block;
}

.rightSection>div {
    margin-bottom: 20px;
}

.rightSection .title {
    font-size: 20px;
    font-weight: 500;
}

.rightSection .name {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    border-bottom: solid;
    padding: 5px;
}

.rightSection .price,
.rightSection .inventory,
.rightSection .categories {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.addToCartBtn {
    width: 150px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;
    margin-top: 50px;
}

.addToCartBtn:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}